# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
target/

# Bower

node_modules
dist
.tmp
.sass-cache
bower_components


# front end
!/FronEnd/src/components
/FronEnd/node_modules/
npm-debug.log*
/FronEnd/yarn-debug.log*
/FronEnd/yarn-error.log*
/FronEnd/test/unit/coverage
/FronEnd/test/e2e/reports
/FronEnd/selenium-debug.lo
#log start
/logs/loging.log/*.log